name: Update git-carbon tracked files

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gregoire-mullvad/git-carbon-action@devs
        with:
          token: ${{ github.token }}
